<h4>Home</h4> <hr />
<!--<a href="#/new" class="btn btn-primary">New</a>-->

<table class="display" id='organizationTable' width="100%" cellspacing="0">
    <thead>
        <tr>
            <th>Org ID</th>
            <th>Name</th>
            <th>Edit/Delete</th>
            <th>Priority</th>
        </tr>
    </thead>
    <tbody>
        <% _.each(organizations, function(organization) { %>
        <tr>
            <td><%= organization.org_id %></td>
            <td><% if(organization.active == true){ %>
                <a href="#/organization/<%= organization.org_id %>/<%= organization.name %>"><%= organization.name %></a>
                <% } else {%>
                <%= organization.name %>
                <% }  %>
            </td>
            <td>
                <% if(organization.active == true){ %>
                <span class="label label-success label-as-badge">Active</span>
                <% } else {%>
                <form class="edit-organization-form">
                    <input type="hidden" name="org_id" value="<%= organization.org_id %>" />
                    <input name="name" type="hidden" value="<%= organization.name  %>">
                    <button type="submit" class="btn btn-danger">Activate</button>
                </form>
                <% }  %>
            </td>
            <td><% if(organization.active == true){ %>
                <a href="#/organization/priority/<%= organization.org_id %>">Change</a>
                <% } else {%>
                --
                <% }  %>
            </td>
        </tr>
        <% }); %>
    </tbody>
</table>
