<h4>Edit Organization</h4> <hr /> 
<form class="edit-organization-form">
      <legend><%= organization ? 'Edit' : 'New' %> Organization</legend>
      <table>
        <tr>
          <td>Org ID</td>
          <td>
           <% if (organization){ %>
                        <%=   organization.org_id  %>
                    
                    <% } else { %>
                        <input name="org_id" class="input-block-level" type="text" value="">

                    <% } %>

          </td>
        </tr>
        <tr>
          <td>Name</td>
          <td>
            <input name="name" type="text" class="input-block-level" value="<%= organization ? organization.name : '' %>">
          </td>
        </tr>
       </table> 
        <hr />
       <button type="submit" class="btn"><%= organization ? 'Update' : 'Create' %></button>
       <% if(organization) { %>
        <input type="hidden" name="id" value="<%= organization.org_id %>" />
       <button data-organization-id="<%= organization.org_id %>" class="btn btn-danger" id="deleteOrg">Delete</button>
       <% }; %>
    </form>