<div id='step2' class="panel panel-default">
    <div class="panel-heading" style="padding: 5px;" role="tab" id="headingOne">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
            <i class='icon-bell'></i> &nbsp;Add Reminder<i class='icon-chevron-down pull-right'></i>
        </a>
    </div>
</div>
<div id='collapseOne' class='panel-collapse collapse' role='tabpanel' aria-labelledby='headingOne'>   
    <div class="panel-body" style="padding: 2px; background-color: #fff;">     
	To : &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	<select class="btn-default btn-xs" style='width: 70%; margin-top: 5px;' id= "self_remind" >
		<option value="<?= $user_id ; ?>" selected >Self</option>
		<option value='friendsrow ' >friendsrow['first_name'] </option>
	</select><br/><br/>
	Time :
		<input type="text" id ="datepick" style='width: 72%;' placeholder='Reminder Time & Date'><br/><br/>
		<textarea style='width: 92%;' class="form-control" id="reminder_message" placeholder="Type your message here"></textarea><br/><br/>
		<input type="submit" class="btn btn-primary btn-sm pull-right" onclick = "set_remind()" value = "Set"><br/>  
	</div>
</div><br/>
<div id='step3' class="panel panel-default">
	<div class="panel-heading" style="padding: 5px;" role="tab" id="headingTwo">
		<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
			<i class='icon-eye-open'></i> &nbsp;All Reminder<i class='icon-chevron-down pull-right'></i>
		</a>
	</div>
</div>
<div id='collapseTwo' class='panel-collapse collapse' role='tabpanel' aria-labelledby='headingTwo'>   
    <div class="panel-body" style="padding: 2px; background-color: #fff;" id='allreminders' ></div>
    <input type='hidden' id='lastreminderid' value='".$idb."'/>
</div><br/>
<div id='step4' class="panel panel-default">
	<div class="panel-heading" style="padding: 5px;" role="tab" id="headingThree">
		<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
			<i class='icon-bullhorn'></i>&nbsp;
			To Do
			<i class='icon-chevron-down pull-right'></i>
		</a>
	</div>
	<div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
		<div class="panel-body" style="padding: 1px;">
			<a href='challengesOpen.php?challenge_id=" . $challengeOpen_pageID . "'> 
				<button type='submit' class='btn-link' name='projectphp' data-toggle='tooltip' data-placement='right' data-original-title='tooltip' style='text-align: left;'>chtitle</button>
			</a><br/>
		</div>
	</div>
</div><br/>
<div id='step5' class="panel panel-default">
	<div class="panel-heading" style="padding: 5px;"role="tab" id="headingThree">
		<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseThree">
	  		<i class='icon-tasks'></i>&nbsp;
			Get Done
			<i class='icon-chevron-down pull-right'></i>
		</a>
	</div>
	<div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
  		<div class="panel-body" style="padding: 1px;">
			<a href='challengesOpen.php?challenge_id=" . $challenge_pageID . "'> 
				<button type='submit' class='btn-link' style='text-align: right;'>chtitleas</button>
			</a><br/>
		</div>
	</div>
</div><br/>
<div id='step13' class="panel panel-default">
	<div class="panel-heading" style="padding: 5px;" role="tab" id="headingFour">
		<a class="" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFour">
		<i class='icon-zoom-in'></i>&nbsp;
		Eagle Eye View
		<i class='icon-chevron-down pull-right'></i>
		</a>
	</div>
	<div id="collapseFive" class="panel-collapse in collapse" role="tabpanel" aria-labelledby="headingFour">
		<div class="panel-body" style="padding: 1px;">
			<button class='btn-link' style='color: #000' id='allPanels' ><i class='icon-eye-open'></i> All</button><br/>
			<button class='btn-link' id='pencil' style='color: #000' ><i class='icon-question-sign'></i> <span>Open challenges</span></button><br/>
			<button class='btn-link' id='globe' style='color: #000'><span class='icon-book'></span> Articles</button><br/>
			<button class='btn-link' id='tree' style='color: #000'><span class='icon-lightbulb'></span> Ideas</button><br/>
			<button class='btn-link' id='okch' style='color: #000'><span class='icon-flag'></span> Completed challenges </button><br/>
			<button class='btn-link' id='filmnin' style='color: #000'><span class='icon-film'></span> Videos</button><br/>
			<button class='btn-link' id='picch' style='color: #000'><span class='icon-picture'></span> Pics</button>
		</div>
	</div>
</div><br/>
<div class="panel panel-default">
	<div class="panel-heading" style="padding: 5px;" role="tab" id="headingFour">
		<i class='icon-user'></i>&nbsp; Top Users
	</div>
	<div class='list-group' style='margin-top:5px;'>
        <div class='list-group-item'>
			<div class ='row-fluid' style='margin: 4px;'>
				<div class='span3'>
					<img onError=this.src='img/default.gif' style='width:30px;height:30px;'>
				</div>
				<div class='span8'>
					<a href ='profile.php?username=".$UserName."'>FirstName LastName &nbsp;</a>
				</div>
				</div>
				<table>
					<thead>
						<tr>
							<th>Created</th>
							<th style='padding-left:50px;'>No.</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Projects</td>
							<td style='padding-left:50px;'>projects</td>
						</tr>
						<tr>
							<td>Challenges</td>
							<td style='padding-left:50px;'>NoChal</td>
						</tr>
						<tr>
							<td>Ideas</td>
							<td style='padding-left:50px;'>NoIdea</td>
						</tr>
						<tr>
							<td>Articles</td>
							<td style='padding-left:50px;'>NoArticle</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>   
