
<a id='step6' class='btn btn-primary' data-toggle='modal' data-target='#createProject' style='cursor:pointer;'>  
    <i class='icon-plus'></i>Create Projects
</a>
<br/><br/>
<nav class="sidebar light" id='user1project'>
    <ul>
		<div class='bs-component' style='max-height:150px;'>       
            <li class='title'>Classified Projects</li>
            <li class='stick'>No any projects to display,<br>
				<a class='active' data-toggle='modal' data-target='#createProject' style='cursor:pointer;'>
					<i class='icon-plus'>&nbsp; Create Project</i>
				</a>
            </li>
            <li class='stick'>
				<a href = 'project.php?project_id=".$idpro."' style='white-space:nowrap;'>ProjectPic prtitle</a>
			</li>
        </div>
    </ul>
</nav>
<nav class="sidebar light" id='user2project'>
    <ul>
		<div class='bs-component' style='max-height:150px;'>       
            <li class='title'>Private Projects</li>
            <li class='stick'>No any projects to display,<br>
			    <a class='active' data-toggle='modal' data-target='#createProject' style='cursor:pointer;'>
					<i class='icon-plus'>&nbsp; Create Project</i>
				</a>
            </li>
            <li class='stick'>
				<a href = 'project.php?project_id=".$pidpro."' style='white-space:nowrap;'>ProjectPicP pprtitle</a>
			</li>
        </div>
    </ul>
</nav>
<nav class="sidebar light" id='user3project'>
    <ul>
		<div class='bs-component' style='max-height:150px;'> 
		    <li class='title'>Public Projects</li>
            <li class='stick'>No any projects to display,<br>
				<a data-toggle='modal' data-target='#createProject' style='cursor:pointer;'>
			     	<i class='icon-plus'>&nbsp; Create Project</i>
			    </a>
            </li>
            <li class='stick'>
				<a href = 'project.php?project_id=".$idproject."' style='white-space:nowrap;'>ProjectPic2 prtitlep</a>
			</li>
       </div>
    </ul>
</nav>
<nav class="sidebar light" id='user4project'>
    <ul>
		<div class='bs-component' style='max-height:150px;'>  
            <li class='title'>Joined Projects</li>
            <li class='stick'> No any projects to display</li>
            <li class='stick'>
				<a href = 'project.php?project_id=".$publicID."' style='white-space:nowrap;'>$ProjectPic3 publicTitle</a>
			</li>
		</div>
	</ul> 
</nav>
<nav id='user6project' class='sidebar light'>
    <ul>
        <div class='bs-component' style='max-height:200px;'>
        </div>
    </ul>
</nav>