<div class="tabbable custom-tabs tabs-animated  flat flat-all hide-label-980 shadow track-url auto-scroll">
    <ul class="nav nav-tabs">
        <li class="active" >
            <a style='padding-top: 4px; padding-bottom: 4px;'>  <span><b>Collaborating With </b></span></a>
        </li>
    </ul>
    <div id='demo7' class="tab-content bs-component" style='max-height:280px;'>
        <div role="tabpanel" class="row tab-pane active " id="tabCreatedProjects" >
            <div>
	            <div class ='row' style='background : rgb(240, 241, 242);'>
                    <i>You are not Collaborating with anyone, Send link for Collaboration</i>
                </div>
                <div class ='row' style='margin: 4px 0px 4px 0px; background : rgb(240, 241, 242);'>
                    <div class ='span3 ' style='padding:1px;'>
                        <img onError=this.src='img/default.gif' style='height:30px; width: 30px;' class='img-responsive'>
                    </div>
                    <div class = 'span8' style='font-size:12px;padding: 1px;'>
                        <span class='color pull-left' id='new_added'>
                            <a href ='profile.php?username=" . $usernameFriends. "'>friendFirstName friendLastName</a>
                        </span><br/>
                        <span style='font-size:10px;'>friendRank</span>
                    </div><br/>
                </div>
                <div class ='row' style='margin: 4px 0px 4px 0px; background : rgb(240, 241, 242);'>
                    <div class ='span3 ' style='padding:1px;'>
                        <img onError=this.src='img/default.gif' style='height:30px; width: 30px;' class='img-responsive'>
                    </div>
                    <div class = 'span8' style='font-size:12px;padding: 1px;'>
                        <span class='color pull-left' id='new_added'>
                            <a href ='profile.php?username=" . $usernameFriends. "'>friendFirstName friendLastName</a>
                        </span><br/>
                        <span style='font-size:10px;'>friendRank</span>
                    </div><br/>
                </div>
                <div class ='row' style='margin: 4px 0px 4px 0px; background : rgb(240, 241, 242);'>
                    <div class ='span3 ' style='padding:1px;'>
                        <img onError=this.src='img/default.gif' style='height:30px; width: 30px;' class='img-responsive'>
                    </div>
                    <div class = 'span8' style='font-size:12px;padding: 1px;'>
                        <span class='color pull-left' id='new_added'>
                            <a href ='profile.php?username=" . $usernameFriends. "'>friendFirstName friendLastName</a>
                        </span><br/>
                        <span style='font-size:10px;'>friendRank</span>
                    </div><br/>
                </div>
            </div>
        </div>
    </div>
</div>

