<center><b>
    <span id='first_name' style='font-size: 20px;'>&nbsp;profileViewFirstName</span> 
    <span id='last_name' style='font-size: 20px;'>profileViewLastName</span></b>
</center>
<a class = 'btn-link' style='cursor: pointer;margin-left:72%;color: #333;' id='editprofile'>
    <span class = 'icon-pencil'></span> Edit 
</a>
<div>
    <img style='width:200px; height:200px;' onError=this.src='img/default.gif' class='img-circle img-responsive'>
    <center>
        <a id='demo4' data-toggle='modal' class = 'btn-link' style='position: relative; top: -5px; padding: 4px; color: #333; font-weight: 600;cursor: pointer; padding:4px 15px 4px 15px;' data-target='#uploadPicture'>
            <span class = 'icon-pencil'></span>Change Pic
        </a>
    </center>
</div>
<div class="viewprofile">
    <span class='icon-user'></span>
    <strong> 
        <span id='first_name'>&nbsp;profileViewFirstName</span> 
        <span id='last_name'>profileViewLastName</span>
    </strong>
    <i>(&nbsp;profileViewRank &nbsp;)</i><br/>
    <span class='icon-envelope' id='email_user' style='cursor: pointer'>&nbsp;&nbsp;profileViewEmail</span><br/>
    <span class='icon-phone' id='phone' style='cursor: pointer'>&nbsp;&nbsp;&nbsp;profileViewPhone</span><br/>
    <div style ='word-wrap: break-word;' id='appendskill'><i class='icon-screenshot'></i>Skills &nbsp;
        <span class='tags removeskl'>No Skill added</span>
        <span class='skill_id_".$skill_id."'>
            <span class='btn-success'>
                <a style='color: #fff;font-size:14px;font-style: italic;font-family:verdana;'>skill_name</a>&nbsp;
                <a type='submit' class='btn-success' style='padding-left: 0px; padding-right: 0px;' id='remove_skill' onclick='remove_skill(\"".$skill_id."\");' data-toggle='tooltip' data-placement='bottom' data-original-title='Remove Skill'>
                    <i class='icon-remove'></i>
                </a>
            </span>
        </span>
    </div><br/>
    <a id='demo5' data-toggle='modal' class='btn-xs btn-primary ' data-target='#addskill' style='cursor:pointer;padding:3px 10px; margin-top: 5px;'><i class='icon-plus'></i> Skill </a><br/><br/>
    <div style ='word-wrap: break-word;' id='appendprofession'><i class='icon-screenshot'></i>Professions &nbsp;
        <span class='tags removepro'>No Profession </span>
        <span class='profession_".$profession_id."'>
            <span class='btn-success'>
                <a style='color: #fff;font-size:14px;font-style: italic;font-family:verdana;'>&nbsp;&nbsp;p_name </a>&nbsp;
                <a type='submit' class='btn-success' style='padding-left: 0px; padding-right: 0px;' id='remove_profession' onclick='remove_profession(\"".$profession_id."\");' data-toggle='tooltip' data-placement='bottom' data-original-title='Remove Profession'><i class='icon-remove'></i></a>
            </span>
        </span>
    </div><br/>
    <a data-toggle='modal' class='btn-xs btn-primary ' data-target='#addprofession' style='cursor:pointer;padding:3px 10px; margin-top: 5px;'><i class='icon-plus'></i> Profession </a><br/><br/>
    <span class='icon-briefcase'></span>&nbsp;&nbsp;&nbsp;organisation_name<br/>
    <span class='icon-home'></span>&nbsp;&nbsp;&nbsp;living_town<br/>
    <span class='icon-comment'></span>&nbsp;&nbsp;&nbsp;about_user
</div>