<div class="container">
	<div class="row" style="padding-top:30px;">
		<gcse:searchresults></gcse:searchresults>
		<div class="col-md-10">
			<div class="imgWrap">
			  <img src="imgs/Twitter.png" style="width:100%; height:300px;"/>
			  <p class="imgDescription">Title
			  	<button class="btn btn-white pull-right" >message</button>
			  	<button class="btn btn-success pull-right" style="margin-right:20px;">join</button>
			  </p>
			</div>
			<ul class="nav nav-pil nav-justified" >
				<li class="active"><a>Overview</a></li>
				<li><a>Description</a></li>
				<li><a>Discussion</a></li>
				<li><a>Dashboard</a></li>
				<li><a>Team</a></li>
			</ul>
			<div style="background-color:#fff; padding:10px;">
				jsivdhfd jfdvuisfhv fvbfdv jfdhvdsv jfdhivef jhfiurf ifhref jerfire fjif
			</div>
		</div>
	</div>
</div>