<h4><a href="#">
            Home
          </a> >
          <a href="#/organization/<%= org_id %>/<%= orgName %>">
          <%= orgName.replace(/%20/g, " ") %> 
          </a> > 
          <%= channel_name %> > datafields
</h4>

<a href="#/organization/<%= org_id %>/<%= orgName %>/channel/<%= channel_name %>/fields" class="btn btn-primary">
  New
</a>
<br/>
<br/>
<table class="display" id='organizationChannelDatafieldTable' width="100%" cellspacing="0">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Datafield</th>
        <th>Typed</th>
        <th>Priority</th>
        <th>Required</th>
        <th>Validators</th>
        <th>Edit/Delete</th>
      </tr>
    </thead>
    <tbody>
      <% _.each(organizationChannelDatafields, function(organizationChannelDatafield) { %>
        <tr>
          <td><%= organizationChannelDatafield.id %></td>
          <td><%= organizationChannelDatafield.name %></td>
          <td><%= organizationChannelDatafield.data_field %></td>
          <td><%= organizationChannelDatafield.typed %></td>
          <td><%= organizationChannelDatafield.priority %></td>
          <td><%= organizationChannelDatafield.required %></td>
          <td>
            <% if(organizationChannelDatafield.validators){
              _.each(organizationChannelDatafield.validators, function(validator){%>
                <%= validator+"<br/>" %>
              <%});
              }
              else {%>
              <%= 'null' %>
              <%} %>

          </td>
          <td>
            <a class="btn" href="#/organization/<%= org_id %>/<%= orgName %>/channel/<%= channel_name %>/fields/<%= organizationChannelDatafield.name %>">
              Edit
            </a>
          </td>
        </tr>
      <% }); %>
    </tbody>
</table>
<br/>
<br/>
