<div class="tabbable custom-tabs tabs-animated flat flat-all hide-label-980 shadow track-url auto-scroll" style="margin: 20px -15px;">
    <ul class="nav nav-tabs">
        <li class="active" >
            <a style='padding-top: 4px; padding-bottom: 4px;'>  <span><b>Explore More </b></span></a>
        </li>
    </ul>
    <div class="tab-content" >
        <div role="tabpanel" class="row tab-pane active">
            <div class ='row' style='border-width: 1px; border-style: solid;margin: 10px 0px 10px 0px;background : rgb(240, 241, 242); color:rgba(69, 69, 69, 0);'>
    			<a href='challengesOpen.php?challenge_id=$challenge_user_chID'>
                    <b><p style='font-size:14px; word-wrap: break-word;color:#3B5998;'>challenge_user_title</p></b>
                    <p style='word-wrap: break-word;'>ProjectStmt.</p>
                </a>
            </div>
            <div class ='row' style='border-width: 1px; border-style: solid;margin: 10px 0px 10px 0px;background : rgb(240, 241, 242); color:rgba(69, 69, 69, 0);'>
                <a href='challengesOpen.php?challenge_id=$challenge_user_chID'>
                    <b><p style='font-size:14px; word-wrap: break-word;color:#3B5998;'>challenge_user_title</p></b>
                    <p style='word-wrap: break-word;'>ProjectStmt.</p>
                </a>
            </div>
            <div class ='row' style='border-width: 1px; border-style: solid;margin: 10px 0px 10px 0px;background : rgb(240, 241, 242); color:rgba(69, 69, 69, 0);'>
                <a href='challengesOpen.php?challenge_id=$challenge_user_chID'>
                    <b><p style='font-size:14px; word-wrap: break-word;color:#3B5998;'>challenge_user_title</p></b>
                    <p style='word-wrap: break-word;'>ProjectStmt.</p>
                </a>
            </div>
            <div class ='row' style='border-width: 1px; border-style: solid;margin: 10px 0px 10px 0px;background : rgb(240, 241, 242); color:rgba(69, 69, 69, 0);'>
                <a href='challengesOpen.php?challenge_id=$challenge_user_chID'>
                    <b><p style='font-size:14px; word-wrap: break-word;color:#3B5998;'>challenge_user_title</p></b>
                    <p style='word-wrap: break-word;'>ProjectStmt.</p>
                </a>
            </div>
        </div>
    </div>
</div>
<div class='tabbable custom-tabs tabs-animated flat flat-all hide-label-980 shadow track-url auto-scroll' style='margin: 20px -15px;'>
    <ul class='nav nav-tabs'>
        <li class='active' >
            <a style='padding-top: 4px; padding-bottom: 4px;'>  <span><b>Explore Public Pojects </b></span></a>
        </li>
    </ul>
    <div class='tab-content' >
        <div role='tabpanel' class='row tab-pane active'>
            <div class ='row' style='border-width: 1px; border-style: solid;margin: 10px 0px 10px 0px;background : rgb(240, 241, 242); color:rgba(69, 69, 69, 0);'>
                <a href='project.php?project_id=".$project_id."'>
                    <div class='panel-heading' style='padding-left: 0px;'>
                        <b><p style=' font-size:14px;word-wrap: break-word;color:#3B5998;'>project_title_display</p></b>
                    </div>
                    <div class='panel-content'><p style='word-wrap: break-word;'>project_title_stmt.....</p><br></div>
                </a>
            </div>
            <div class ='row' style='border-width: 1px; border-style: solid;margin: 10px 0px 10px 0px;background : rgb(240, 241, 242); color:rgba(69, 69, 69, 0);'>
                <a href='project.php?project_id=".$project_id."'>
                    <div class='panel-heading' style='padding-left: 0px;'>
                        <b><p style=' font-size:14px;word-wrap: break-word;color:#3B5998;'>project_title_display</p></b>
                    </div>
                    <div class='panel-content'><p style='word-wrap: break-word;'>project_title_stmt.....</p><br></div>
                </a>
            </div>
            <div class ='row' style='border-width: 1px; border-style: solid;margin: 10px 0px 10px 0px;background : rgb(240, 241, 242); color:rgba(69, 69, 69, 0);'>
                <a href='project.php?project_id=".$project_id."'>
                    <div class='panel-heading' style='padding-left: 0px;'>
                        <b><p style=' font-size:14px;word-wrap: break-word;color:#3B5998;'>project_title_display</p></b>
                    </div>
                    <div class='panel-content'><p style='word-wrap: break-word;'>project_title_stmt.....</p><br></div>
                </a>
            </div>
        </div>
    </div>
</div>