<h4>List of Channels on Nucleus</h4> <hr />
<a href="#/newCha" class="btn btn-primary">New</a>
  <br/><br/>
  <table class="display" id='channelTable' width="100%" cellspacing="0">
    <thead>
      <tr>
        <th>Channel ID</th><th>Name</th><th>Description</th><th>Edit/Delete</th>
      </tr>
    </thead>
    <tbody>
      <% _.each(channels, function(channel) { %>
        <tr>
          <td><%= channel.id %></td>
          <td><%= channel.name %></td>
          <td><%= channel.description %></td>
          <td><a class="btn" href="#/editCha/<%= channel.name %>">Edit</a></td>
        </tr>
      <% }); %>
    </tbody>
  </table>
