<h4>Edit Validator</h4> <hr /> 
<form class="edit-validator-form">
      <legend><%= validator ? 'Edit' : 'New' %> Validator</legend>
        <table>
        <% if (validator){ %>
          <tr>
            <td>Validator ID</td>
            <td>
              <%= validator.id  %>
            </td>
          </tr>
          <% }%>
          <tr>        
            <td>Name</td>
            <td>
                <% if (validator){ %>
                        <%=   validator.name  %>
                    
                <% } else { %>
                        <input name="name" class="input-block-level" type="text" value="">
                  <% } %>
                
            </td>

        </tr>
        <tr>
          <td>Namespace</td>
          <td>
            <input name="namespace" type="text" class="input-block-level" value="<%= validator ? validator.namespace : '' %>">
          </td>
        </tr>
        <tr>
          <td>Active</td>
          <td>
            <input name="is_active" type="checkbox" class="input-block-level" 
                      <% if (validator){ %>
                        <%=   (validator.is_active == true) ? 'checked="on"' : ''   %>
                    
                <% }  %>
                >
          </td>
        </tr>
        <tr>
          <td>Description</td>
          <td>
            <input name="description" type="text" class="input-block-level" value="<%= validator ? validator.description : '' %>">
          </td>
        </tr>
        </table>
        <hr />
       
       <button type="submit" class="btn"><%= validator ? 'Update' : 'Create' %></button>
       <% if(validator) { %>
          <input type="hidden" name="id" value="<%= validator.name %>" />
          <button data-validator-id="<%= validator.name %>" class="btn btn-danger" id="delVal">
            Delete
          </button>
       <% }; %>
</form>