<div class="alert-placeholder"></div>  <!-- alert for signup -->
<div class="navbar navbar-default navbar-fixed-top" style="background-color:#fff;">
  <!-- <div class="navbar-inner" > -->
    <!-- <div class="container" > -->
      <div class="navbar-header">
        <a class="brand" style="font-size:16pt; color: #000; padding-left:50px; " href="index.php">
          <img src ='imgs/collap.jpg' style="width:45px;">
        </a>
        <!-- <a class="btn btn-navbar" data-toggle="collapse" data-target=".navbar-responsive-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a> -->
        <div class="navbar-search">
          <% 
            (function() { 
              var cx = '007811515162108704212:nlk9cflmqvg'; 
              var gcse = document.createElement('script'); 
              gcse.type = 'text/javascript'; gcse.async = true; 
              gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//www.google.com/cse/cse.js?cx=' + cx; 
              var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(gcse, s); 
            })(); 
          %>
          <gcse:searchbox></gcse:searchbox>

        </div>
        <ul class="nav navbar-nav navbar-right nav-tabs" >
          <li id="loginNav"><a href="#/login" class="btn btn-white" style="color: #0CD85E;"> Create Project </a></li>
          <li id="loginNav"><a href="#/login" style="color: #000;"> Login </a></li>
          <li id="registerNav"><a href="#/register" style="color: #000;"> Register </a></li>
        </ul> 
    <!-- </div> -->
  </div>
    <!-- /navbar-inner -->
</div>