<li><a class="btn-link" style='cursor: pointer;' href="index.php"><i class='icon-home'></i>Home</a></li>
<li><a class="btn-link" style='cursor: pointer;' onclick='projectToJoin()'><i class='icon-shopping-cart'></i> Join</a></li> 
<li>
    <a class="btn-link" style='cursor: pointer;' onclick='assitant("<?= $user_id ; ?>")'>
        <i class='icon-info-sign' > Assistant </i>
    </a>
</li> 
<li>
    <p id='step9' class="navbar-text" ><i class='icon-certificate'></i><b>Rank</b></p>
</li>
<li id='step10' style='cursor:pointer;'><li id='notifications' class='dropdown' ></li><li id='notificationlastid'></li></li>
<li id='step11' class="dropdown">
    <a href='#' class="dropdown-toggle" data-toggle="dropdown" >
        <img style='width: 25px; height: 25px;' ></img>&nbsp; &nbsp;name &nbsp; 
        <b class="caret"></b>
    </a>
    <ul class='dropdown-menu'>
        <li><a class='btn-link' href="profile.php?username=<?php echo $user ; ?>"><i class='icon-user'></i> View Profile</a></li>
        <li><a href="settings.php" class="btn-link" ><span class="icon-cog"></span> Settings </a></li>
        <li><a type='submit' class="btn-link" onclick='confLogout()' name="logout" ><span class="icon-off"></span> Log out </a></li>
    </ul>
</li>