<div id="nav" class='bs-component'>
    <div id='step16' class="nav-btn"><p class="icon-chevron-left"></p><p class="icon-comment"></p></div>
    <div class="panel-body" style="padding: 1px;">
		<div class ='row-fluid' style=' margin:4px; background : rgb(240, 241, 242);'>
            <a href=\"javascript:void(0)\" onclick=\"javascript:chatWith('".$usernameFriends."')\">
                <div class ='span3'>
                    <img style='width:30px; height:30px;' onError=this.src='img/default.gif' class='img-circle img-responsive'>
                </div>
                <div class = 'span7' style='font-size:10px;'>friendFirstName friendLastName <br/> online 
                    <span class='badge' style ='color: #4EC67F ;background-color: #4EC67F;padding: 0px 0px 0px 10px;'>.</span>
                </div>
            </a>
        </div>
        <div class ='row-fluid' style=' margin:4px; background : rgb(240, 241, 242);'>
            <a href=\"javascript:void(0)\" onclick=\"javascript:chatWith('".$usernameFriends."')\">
                <div class ='span3'>
                    <img style='width:30px; height:30px;' onError=this.src='img/default.gif' class='img-circle img-responsive'>
                </div>
                <div class = 'span7' style='font-size:10px;'>friendFirstName friendLastName <br/> online 
                    <span class='badge' style ='color: #4EC67F ;background-color: #4EC67F;padding: 0px 0px 0px 10px;'>.</span>
                </div>
            </a>
        </div>
        <div class ='row-fluid' style=' margin:4px; background : rgb(240, 241, 242);'>
            <a href=\"javascript:void(0)\" onclick=\"javascript:chatWith('".$usernameFriends."')\">
                <div class ='span3'>
                    <img style='width:30px; height:30px;' onError=this.src='img/default.gif' class='img-circle img-responsive'>
                </div>
                <div class = 'span7' style='font-size:10px;'>friendFirstName friendLastName <br/> online 
                    <span class='badge' style ='color: #4EC67F ;background-color: #4EC67F;padding: 0px 0px 0px 10px;'>.</span>
                </div>
            </a>
        </div>
        <div class ='row-fluid' style=' margin:4px; background : rgb(240, 241, 242);'>
            <a href=\"javascript:void(0)\" onclick=\"javascript:chatWith('".$usernameFriends."')\">
                <div class ='span3'>
                    <img style='width:30px; height:30px;' onError=this.src='img/default.gif' class='img-circle img-responsive'>
                </div>
                <div class = 'span7' style='font-size:10px;'>friendFirstName friendLastName <br/> online 
                    <span class='badge' style ='color: #4EC67F ;background-color: #4EC67F;padding: 0px 0px 0px 10px;'>.</span>
                </div>
            </a>
        </div>
    </div>
</div>