<div class="container">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-5">
      <span style="font-size:20px;"> Welcome back! </span>
      <span class="pull-right"><a href="#/register" style="color:#0CD85E"> Don't have an account? </a></span>
      <form class="login-form" ><br/>
        
        <input type="text" class="input-block-level" id="username" placeholder="Email or Username"/>
        
        <input type="password" class="input-block-level" id="passwordlogin" placeholder="Password"/>

        <input type="checkbox" class="checkbox"/> Remember Me 
        <a class="pull-right" href="#/forgetpassword" style="color:#0CD85E"> Forgot Password? </a><br/><br/>
        <input name="project" type="hidden" value="Collap"/>
        <button class="btn btn-success" style="width:100%;height:50px;font-size:22px;" id="login"><b> Login </b></button>           
        <br/><br/><div class="line"> or </div>
        <br/>
        <div class="socials">
          <ul class="list-inline">
            <li><a  href="https://www.facebook.com/pages/collapcom/739310236156746" target='_blank'>
              <img class="media-object img-circle" src="imgs/facebook.png" style="width:50px;"/>
            </a></li>
            <li><a  href="https://twitter.com/CollapCom" target='_blank'>
              <img class="media-object img-circle" src="imgs/Twitter.png" style="width:50px;"/>
            </a></li>
            <li><a  href="https://www.pinterest.com/collapcom/" target='_blank'>
              <img class="media-object img-circle" src="imgs/pinterest.png" style="width:50px;"/>
            </a></li>
            <li><a  href="https://plus.google.com/117170233233281087141" rel="publisher" target='_blank'>
              <img class="media-object img-circle" src="imgs/google.png" style="width:50px;"/>
            </a></li>
            <li><a  href="https://in.linkedin.com/" target='_blank'>
              <img class="media-object img-circle" src="imgs/linkdin.png" style="width:50px;"/>
            </a></li>
            <li><a  href="https://github.com/collapcom" target='_blank'>
              <img class="media-object img-circle" src="imgs/github.png" style="width:50px;"/>
            </a></li>
          </ul>
        </div>
      </form>
      <div class="divider large visible-desktop"></div><br/>
    </div>
  </div>
  <hr/>
  &#169;  2015 Collap, Inc.
  <span class="pull-right">
    <a href="#/about"> About </a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="#/terms"> Terms </a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="#/privacy-policy"> Privacy </a> &nbsp;&nbsp;&nbsp;
  </span>
</div>