<ul class="nav nav-pil nav-justified" style="padding: 0;">
    <li class="active">
        <a href="#tabCreatedProjects" data-toggle="tab" class="active " id="created_project" style="padding: 10px 5px;">
            <i class='icon-star'> </i> <span>Created Projects</span> 
            <span class="badge">
                total
            </span>
        </a>
    </li>
    <li>
        <a href="#tabJoinedProjects" data-toggle="tab" id="joined_project" style="padding: 10px 5px;">
            <i class='icon-star-empty'> </i> <span>Joined Projects</span> 
            <span class="badge">
                Joined 
            </span>
        </a>
    </li>
    <li>
        <a href="#tabArticles" data-toggle="tab" id="user_articles" style="padding: 10px 5px;">
            <i class='icon-book'> </i><span>Articles</span> 
            <span class="badge">
                total
            </span>
        </a>
    </li>
    <li>
        <a href="#tabChallanges" data-toggle="tab" id="user_challenges" style="padding: 10px 5px;">
            <i class='icon-question-sign'> </i><span>Challenges</span> 
            <span class="badge">
                total
            </span>
        </a>
    </li>
    <li>
        <a href="#tabIdeas" data-toggle="tab" id="user_idea" style="padding: 10px 5px;">
            <i class='icon-lightbulb'> </i><span>Idea</span> 
            <span class="badge">
                total
            </span>
        </a>
    </li>
</ul>
<div class="tab-content" >
    <div role="tabpanel" class="tab-pane fade in active" id="tabCreatedProjects">       
        created_projects($db_handle,$profileViewUserID
        <div id='next_CP'>
        </div>
    </div>
    <div role="tabpanel" class="tab-pane fade" id="tabJoinedProjects" >
        <div id="joined_project_content">
            
        </div>
        <div id='next_JnPr'>
        </div>
    </div>
    <div role="tabpanel" class="tab-pane fade" id="tabArticles">
        <div id="user_articles_content">
            
        </div>
        <div id='next_user_article'>
        </div>
    </div>
    <div role="tabpanel" class="tab-pane fade" id="tabChallanges">
        <div id="user_challenges_content">
            
        </div>
        <div id='next_user_chall'>
        </div>
    </div>
    <div role="tabpanel" class="tab-pane fade" id="tabIdeas">
        <div id="user_idea_content"></div>
        <div id="user_next_idea"></div>
    </div>
</div>