<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-6">
    <center><h3>Password Recovery</h3></center>
    <form class="login-form" ><br/>  
      <input type="text" class="input-block-level" name="email_forget_password" id="email_forget" onkeyup="nospaces(this)"
      required data-bv-emailaddress-message="The input is not a valid email address" placeholder="Enter Email-ID" onblur="email_forget();" />
      <span id="status_email_forget_password"></span><br /> <br />
      <button type="submit" class="btn btn-success" name="request_password" >Recover Password </button>
    </form>
    <div class="divider large visible-desktop"></div><br/>
  </div>
</div>
<hr/>
<ul class="list-inline">
  <li><a href="#/about"> About </a></li>
  <li><a href="#/blog"> Blog </a></li>
  <li><a href="#/career"> Careers </a></li>
  <li><a href="#/customer-speak"> Customer Speak </a></li>
  <li><a href="#/contact"> Contact </a></li>
  <li><a href="#/terms"> Term of Use </a></li>
  <li><a href="#/privacy-policy"> Privacy Policy </a></li>
</ul>