<div class='list-group'>
	<div class='alert_placeholder'></div>
    <div id='step1' class='list-group-item'>
        <i class="icon-question-sign"></i><span onclick='show_form_h(7)' style="cursor: pointer;color: #000;font-family: Tenali Ramakrishna, sans-serif;font-size:20px;"> Challenge</span>
        |
        <i class="icon-book"></i><span onclick='show_form_h(8)' style="cursor: pointer;color: #000;font-family: Tenali Ramakrishna, sans-serif;font-size:20px;"> Article</span>
        |
        <i class="icon-picture"></i><span onclick='show_form_h(9)' style="cursor: pointer;color: #000;font-family: Tenali Ramakrishna, sans-serif;font-size:20px;"> Photos</span>
        |
        <i class="icon-film"></i><span onclick='show_form_h(10)' style="cursor: pointer;color: #000;font-family: Tenali Ramakrishna, sans-serif;font-size:20px;"> Videos</span>
        | 
        <i class="icon-lightbulb"></i><span onclick='show_form_h(11)' style="cursor: pointer;color: #000;font-family: Tenali Ramakrishna, sans-serif;font-size:20px;"> Ideas</span>
        | 
        <i class="icon-share"></i><span onclick='show_form_h(12)' style="cursor: pointer;color: #000;font-family: Tenali Ramakrishna, sans-serif;font-size:20px;"> Share Links</span> 
    <hr/>
		<div id='textForm' ><p style="color: grey;">Please Select Post Type From Above ......</p></div>
		<div id='remindervalue'></div>
    </div>
</div>
<div class='newPosts' ></div>
<div class='list-group challenge'>
    <div class='list-group-item'>";
        <input class='btn btn-primary pull-right' type='submit' onclick='accept_pub(\"".$chelangeid."\", 2)' value='Accept'/>
        <span class='icon-question-sign'></span>
        <span class='color strong' style= 'font-size: 14pt;'>
            <p align='center'>Answer</p>
        </span>
		<hr/>
        <div class='row-fluid'>
            <div class='col-md-5'>
			    <span class='icon-hand-up' style='cursor: pointer;' onclick='like(\"".$chelangeid ."\", 1)'> <b>Push</b>
                    <input type='submit' class='btn-link' id='likes_".$chelangeid ."' value='".$likes."'/> |
                </span>          
                <span class='icon-hand-down' style='cursor: pointer;' onclick='dislike(\"".$chelangeid ."\", 2)'> <b>Pull</b>
                       <input type='submit' class='btn-link' id='dislikes_".$chelangeid ."' value='".$dislikes."'/>&nbsp;
                </span>
            </div>
        </div><hr/>
        <div id='commentscontainer'>
			<div class='comments clearfix emotion' id='comment_".$comment_id."'>
				<div class='pull-left lh-fix'>
					<img onError=this.src='img/default.gif'>&nbsp;&nbsp;&nbsp;
				</div>
                <div class='comment-text'>
				    <span class='pull-left color strong'>&nbsp;
                        <a href ='profile.php?username=".$username_comment_ninjas."'>commenterRow['last_name']</a>
                    </span>
			    </div>
            </div>
        </div>
        <div class='comments_chelangeid'></div>
        <div id='step15' class='comments clearfix'>
            <div class='pull-left lh-fix'>
                <img onError=this.src='img/default.gif'>&nbsp;
            </div>
            <input type='text' class='input-block-level' STYLE='width: 83.0%;' placeholder='Want to know your comment....'/>
            <button type='submit' class='btn btn-primary' style='margin-bottom: 10px;'>
                <span class='icon-chevron-right'></span>
            </button>
        </div>
    </div> 
</div>