<div class="alert_placeholder"></div>  <!-- alert for signup -->
<div class="navbar navbar-default navbar-fixed-top" style="background-color:#fff;">
  <!-- <div class="navbar-inner" > -->
    <div class="container" >
      <div class="navbar-header">
        <a class="navbar-brand" style="font-size:16pt; color: #000; " href="index.php">
            <img src ='imgs/collap.jpg' style="width:45px;"> Collap
        </a>
        <ul class="nav navbar-nav navbar-right nav-tabs">
          <li id="loginNav"><a href="#/login" style="color: #000;"> Login </a></li>
          <li id="registerNav"><a href="#/register" style="color: #000;"> Register </a></li>
        </ul> 
    </div>
  </div>
    <!-- /navbar-inner -->
</div>