<h4><a href="#">
            Home
          </a> >
          <a href="#/organization/<%= org_id %>/<%= orgName %>">
          <%= orgName.replace(/%20/g, " ") %> 
          </a> > 
          <a href="#/organization/<%= org_id %>/<%= orgName %>/channel/<%= channel_name %>">
          <%= channel_name %> 
          </a> > datafields</h4>
<div class='row'>
      <div class='col-md-8'>          
<form class="edit-organizationChannelDatafield-form">

      <h4><%= organizationChannelDatafield ? 'Edit' : 'New' %> Organization Channel Datafields</h4> <hr/>
      <table>
       <% if (organizationChannelDatafield){ %>
          <tr>
            <td>ID</td>
            <td>
              <%= organizationChannelDatafield.id  %>
            </td>
          </tr>
          <% }%>
            <tr>
                <td>Name</td>
                <td>
                    <% if (organizationChannelDatafield){ %>
                        <%=   organizationChannelDatafield.name  %>
                    
                    <% } else { %>
                        <input name="name" class="input-block-level" type="text" value="">

                    <% } %>
                    
                </td>
        </tr>
        
        <tr>
          <td>datafield</td>
          <td>
            <% if (organizationChannelDatafield){ %>
                        
                        <select name="data_field" id="org-datafield-selector" >
                          <option value="<%=   organizationChannelDatafield.data_field  %>"><%=   organizationChannelDatafield.data_field  %></option>
                         <% _.each(datafields, function(datafield) { %>
                            <option value="<%= datafield.name %>"> <%= datafield.name %></option>
                         <% }); %>
                          
                      </select>
                    
            <% } else { %>
                        
                        <select name="data_field" id="org-datafield-selector" >
                          <option value="">Select</option>
                         <% _.each(datafields, function(datafield) { %>
                            <option value="<%= datafield.name %>"> <%= datafield.name %></option>
                         <% }); %>
                          
                      </select>
            <% } %>
          </td>
        </tr>
        <tr>
          <td>Typed</td>
          <td>
              <input name="typed" type="checkbox" class="input-block-level" <% if(organizationChannelDatafield) {if (organizationChannelDatafield.typed == true) { %>checked="checked"<% } } else { %>checked="checked"<% } %> />
          </td>
        </tr>
        <tr>
          <td>Priority</td>
          <td>
            <input name="priority" type="text" class="input-block-level" value="<%= organizationChannelDatafield ? organizationChannelDatafield.priority : '' %>">
          </td>
        </tr>
        <tr>
          <td>Required</td>
          <td>
              <input name="required" type="checkbox" class="input-block-level" 
              <% if(organizationChannelDatafield) {
                  if (organizationChannelDatafield.required == true) { %>
                    checked="checked"

                  <% }} else {%>
                    checked="checked"
                    <% } %> 
                />
          </td>
        </tr>
        <tr>
          <td>Validators</td>
          <td>
          <div id="validatorSelectPlace">
            <ul id="sortable3" class="droptrue">
              <% _.each(organizationChannelDatafield.validators, function(dValidator) { %>
                    <li class="list-group-item ui-state-default"><%= dValidator %></li>
              <% }); %>
            </ul>
            
             
            </div>
          </td>

        </tr>
        
      </table>
        
        <hr />
       <button type="submit" class="btn"><%= organizationChannelDatafield ? 'Update' : 'Create' %>
       </button>
       <% if(organizationChannelDatafield) { %>
        <input type="hidden" name="id" value="<%= organizationChannelDatafield.name %>" />
       <button data-organizationChannelDatafield-id="<%= organizationChannelDatafield.name %>" class="btn btn-danger" id="deleteOCDF">Delete</button>
       <% }; %>
    </form>
    </div>
<div class = 'col-md-4'>
<h4>Drag and drop back validators.</h4>
          <ul id="sortable2" class="list-group dropfalse">
            <% _.each(validators, function(validator) { %>
              <li class="list-group-item ui-state-default"><%= validator.name %></li>

            <% }); %>
          </ul>
        </div>
        </div>
    <style>
#sortable1, #sortable2, #sortable3 { 
  list-style-type: none; 
  margin: 0; 
  float: left; 
  margin-right: 2px; 
  background: #eee; 
  padding: 2px; 
  min-width: 150px;
  min-height: 50px;
  max-height: 400px;
  overflow: scroll;
}
#sortable1 li, #sortable2 li, #sortable3 li { 
  margin: 2px; 
  padding: 2px; 
  font-size: 1em; 
  min-width: 120px; 
}
#sortable1 ul, #sortable2 ul, #sortable3 ul { 
  margin: 2px; 
  padding: 2px; 
  font-size: 1em; 
  min-width: 143px;
  min-height: 50px;
}
</style>
<script>

$(function() {
  $( "ul.droptrue" ).sortable({
    connectWith: "ul"
  });

  $( "ul.dropfalse" ).sortable({
    connectWith: "ul",
    dropOnEmpty: true
  });
$( "#sortable1, #sortable2, #sortable3" ).disableSelection();
});

</script>
